<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}BrainBazaared{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'tests' %}">Тесты</a>
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>